*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color-de-letras: #fff;
    --background-color: #20232a;
    --background-color-sidebar: #2a2d3a;
}

body,div,ul,form,h1,p{
    font-family: sans-serif;
    color: var(--color-de-letras);
    background-color: var(--background-color);
}

.main__list{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}

.main__list-showed{
    display: grid;
    grid-template-rows: 3fr 7fr; 
}

.sidebar__list{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.main__list-title{
    padding: 1rem;
}

.main__list-description{
    font-size: 1.2rem;
}

ul li{
    list-style: none;
    padding: 0.5rem;
}

