*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color-de-letras: #fff;
    --background-color: #20232a;
    --background-color-sidebar: #2a2d3a;
    --color-bordes: #fff2;
    --color-bordes-hover: #fff7;
    --background-color-hover: #20232a00;
}

body,div,ul,form,h1,p{
    font-family: sans-serif;
    color: var(--color-de-letras);
    background-color: var(--background-color);
}

/*Main Section*/
.main__list{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}

.main__list-showed{
    display: grid;
    grid-template-rows: 3fr 7fr; 
}

.main__list-title{
    padding: 1rem;
    margin-left: 10px;
}

.main__list-description{
    font-size: 1.2rem;
    margin-left: 10px;
}

input,textarea{
    background-color: var(--background-color);
    color: var(--color-de-letras);
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 6px 8px;
    border: 1px solid #666;
}

.main__list-title input{
    width: 90%;
    font-size: 2rem;
    border: none;
    border-bottom: 1px solid var(--color-bordes);
    outline: none;
}

textarea{
    resize: none;
    height: clamp(300px,50%,800px);
    width: 90%;
    font-size: inherit;
    outline: none;
    height: 90%;
}

/*Sidebar Section*/

.sidebar__list{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-right: 1px solid var(--color-bordes);
    border-radius: 20px;
}

.sidebar__list-input{
    width: 100%;
    font-size: 1.2rem;
    outline: none;
}

ul li{
    list-style: none;
    padding: 1rem;
}

.sidebar__li{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    border: 1px solid var(--color-bordes);
    border-radius: 10px;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.sidebar__li:hover{
    border: 1px solid var(--color-bordes-hover);
}

.titulo-completado{
    text-decoration: line-through;
    opacity: 0.6;
}